*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #2BE7E9;
	margin-bottom: 100px;
}

/*#overlay{
	height: 50vh;
	background-color: rgb(244,244,244,0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
}*/

h1 ,h2 {
	text-align: center;
	font-family: 'Quattrocento', serif;
	font-size: 4em;
}

#button_holder {
	margin-top: 10%;
	display: flex;
	justify-content: center;
}
form {
	padding-left: 200px;
	padding-right: 200px;
}
.jumbotron{
	text-align: center;
	/*background-image: url(https://ae01.alicdn.com/kf/HLB1.EG_XInrK1RjSspkq6yuvXXaw/Israel-flag-3-5-feet-polyester-flag-90-150cm-big-banners-Israeli-flag-Isreal-flag-banner.jpg);*/
	background-size: 100%;
}

#last_head_p {
	margin-bottom: 25px;
}

#pre-survey {
	margin-left: 150px;
	font-size: 22px;
	margin-bottom: 30px;
}

