{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Ramblin' - My Profile</title>{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
{% endblock %}

{% block content %}

<div id="card" class="card large">
  <div class="card-header">
    <img src="{{ info.picture.url }}" alt="Profile pic">
  </div>
  <div class="card-content" style="margin-top: 20px;">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <h4>{{ user.email }}</h4><br>
    <p><em>{{ info.bio }}</em></p>
  </div>
  <div class="card-footer">
    <ul>
      <li>
        <a class="waves-effect waves-light btn" href="edit_profile">Edit profile</a>
      </li>
      <li>
        <a class="waves-effect waves-light btn" href="/trips">Get Ramblin'</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}

