{% extends 'base.html' %}

{% block navbar %}
{% include 'partials/nav_account_pages.html' %}
{% endblock %}

{% block content %}

<div class="container w-75 mt-3">
    <div class="card mx-auto">
        <div class="card-header h2"> Sign Up</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

