#debt {
    color: red;
}

#owed {
    color: green;
}

body {
    margin-bottom: 80px;
}

#analytics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}