{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Ramblin' - Trip Finances</title>{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'spending/css/trip_finances.css' %}">
{% endblock %}

{% block content %}
<div>
<ul class="collection with-header" style="width: 75vw; margin: auto; margin-top: 20px; box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);">
        <li class="collection-header" style="text-align: center;"><h4>{{ trip }}<br> <br>Spending History</h4></li>

        <table class="highlight" style="background-color: white;">
                <thead>
                  <tr>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Purchased By</th>
                      <th>Split Between</th>
                      <th>Time</th>
                      <th>Category</th>
                      <th>ID</th>
                      <th></th>
                      <th></th>
                  </tr>
                </thead>

                <tbody>
                {% for purchase in purchases %}
                  <tr>
                    <td>{{ purchase.item }}</td>
                    <td>{{ purchase.description }}</td>
                    <td>${{ purchase.price|floatformat:2 }}</td>
                    <td>@{{ purchase.buyer }}</td>

                    <td>
                            {% for sharer in purchase.sharers.all %}
                            @{{ sharer }}<br>
                            {% endfor %}
                    </td>

                    <td>{{ purchase.datetime }}</td>
                    <td>{{ purchase.category }}</td>
                    <td>{{ purchase.id }}</td>
                    <td><a href="edit_purchase_{{ purchase.id }}_{{ trip.id }}"><i class="material-icons">edit</i></a></td>
                    <td><a href="delete_purchase_{{ purchase.id }}_{{ trip.id }}"><i class="material-icons">delete</i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
        </table>

        <li class="collection-footer" style="height: 60px; display: flex; justify-content: space-around; align-items: center; background-color: white;">
                <a href="add_purchase_{{ trip.id }}"><i class="material-icons" style="font-size: 44px; background-color: none;">add_box</i></a>
        </li>

</ul>

</div>

<div id="analytics">
    <a href="/spending/finances/analytics_{{ trip.id }}" class="waves-effect waves-light btn">Trip Analytics</a>
</div>

<ul class="collection with-header" style="width: 75vw; margin: auto; margin-top: 60px; padding-left: 15px; padding-right: 15px; box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75); background-color: white;">
        <li class="collection-header" style="text-align: center;"><h4>Debt Tracker</h4></li>

        <table class="highlight">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Total Amount User Paid</th>
                      <th>Total Amount User Owes</th>
                      <th>Outstanding Debts to Pay</th>
                      <th>Outstanding Money to Receive</th>
                  </tr>
                </thead>

                <tbody>
                {% for key, value in records.items %}
                  <tr>
                    <td>{{ key }}</td>
                    <td>${{ value.total_paid|floatformat:2 }}</td>
                    <td>${{ value.total_debts|floatformat:2 }}</td>
                    <td id="debt">${{ value.to_pay|floatformat:2 }}</td>
                    <td id="owed">${{ value.to_receive|floatformat:2 }}</td>
                  </tr>
                {% endfor %}
                </tbody>

</ul>

{% endblock %}
<!--finances/traveler_analytics_<int:trip_id>_<int:traveler_id>-->