.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-bottom: 0;
}

.personal {
	padding-left: 80px;
}

hr {
	color: black;
	width: 85%;
	margin-bottom: 30px;
}

