<nav class="nav-extended blue darken-4">
    <div class="nav-wrapper">
      {% load static %}
      <img src="{% static 'mlbCards/images/mlb.png' %}" alt="MLB Logo" style="width:225px;height:80px; margin-left:5px; margin-top:5px;">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout'%}?next={{request.path}}">Log out</a></li>
        <li><a href="{% url 'profile'%}">My Profile - {{ user.username }}</a></li>
        {% else %}
        <li><a href="{% url 'signup'%}">Register</a></li>
        <li><a href="{% url 'login'%}?next={{request.path}}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="/account">League Home</a></li>
        <li class="tab"><a href="/trading/my_team/">Team Management</a></li>
        <li class="tab"><a href="/trading">Trade Block</a></li>
        <li class="tab"><a href="/trading/rankings">Rankings</a></li>
        <li class="tab"><a href="">Forum</a></li>
        {% if user.is_superuser %}
        <li class="tab"><a href="/admin">Admin</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>

