body {
	background-color: #FFC77D;
}

#heading {
	background-color: #FFB95B;
	margin-bottom: 13px;
	padding-bottom: 5px;
}

#containNav {
	background-color: #FFB95B;
}

#tbar {
	height: 30px;
	display: flex;
	align-items: flex-end;
	font-size: 22px;
	border-bottom: 2px solid #FFC77D;
	width: 175px;
	border-right: 1px solid #FFC77D;
	margin-bottom: 10px;
}

#info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 15px;
	grid-gap: 8px;
	font-size: 16px;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

img {
	height: 300px;
	width: 465px;
}

#pics {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}


@media only screen and (min-width: 800px) {
	
	img {
	height: 300px;
	width: 400px;
	}

	#pics {
		display: flex;
		flex-wrap: wrap;
	}
}
