<nav class="nav-extended teal">
    <div class="nav-wrapper black-text">
      {% load static %}
      <a href="/account" class="brand-logo" style="margin-left: 3px;">Ramblin'</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout'%}?next={{request.path}}">Log out</a></li>
        <li><a href="{% url 'profile'%}">My Profile - {{ user.username }}</a></li>
        {% else %}
        <li><a href="{% url 'signup'%}">Register</a></li>
        <li><a href="{% url 'login'%}?next={{request.path}}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="/account">Home</a></li>
        {% if user.is_authenticated %}
        <li class="tab"><a href="/trips">Trips</a></li>
        <li class="tab"><a href="/spending">Spending</a></li>
        {% endif %}
        <li class="tab"><a href="/account/site_plans">Forum</a></li>
        {% if user.is_superuser %}
        <li class="tab"><a href="/admin">Admin</a></li>
        {% endif %}
      </ul>
    </div>
</nav>





